{
  "net_name": "DRMM",
  "global":{
      "model_type": "PY",
      "weights_file": "examples/tweets/weights/drmm.tweets.weights",
      "save_weights_iters": 100,
      "num_iters": 5000,
      "display_interval": 50,
      "test_weights_iters": 6000,
      "optimizer": "adam",
      "learning_rate": 0.001
  },
  "inputs": {
    "share": {
        "text1_corpus": "./data/tweets/corpus_preprocessed.txt",
        "text2_corpus": "./data/tweets/corpus_preprocessed.txt",
        "use_dpool": false,
        "embed_size": 300,
        "embed_path": "./data/tweets/embed.idf",
        "vocab_size": 72762,
        "train_embed": false,
        "target_mode": "ranking",
        "hist_size": 20,
        "text1_maxlen": 10,
        "text2_maxlen": 68
    },
    "train": {
        "input_type": "DRMM_PairGenerator", 
        "phase": "TRAIN",
        "use_iter": false,
        "query_per_iter": 50,
        "batch_per_iter": 10,
        "batch_size": 128,
        "relation_file": "./data/tweets/relation_train.txt",
        "hist_feats_file": "./data/tweets/relation_train.hist-20.txt"
    },
    "valid": {
        "input_type": "DRMM_ListGenerator", 
        "phase": "EVAL",
        "batch_list": 10,
        "relation_file": "./data/tweets/relation_valid.txt",
        "hist_feats_file": "./data/tweets/relation_valid.hist-20.txt"
    },
    "test": {
        "input_type": "DRMM_ListGenerator", 
        "phase": "EVAL",
        "batch_list": 10,
        "relation_file": "./data/tweets/relation_test.txt",
        "hist_feats_file": "./data/tweets/relation_test.hist-20.txt"
    },
    "predict": {
        "input_type": "DRMM_ListGenerator", 
        "phase": "PREDICT",
        "batch_list": 10,
        "relation_file": "./data/tweets/relation_test.txt",
        "hist_feats_file": "./data/tweets/relation_test.hist-20.txt"
    }
  },
  "outputs": {
    "predict": {
      "save_format": "TREC",
      "save_path": "./data/tweets/predict.test.drmm.txt"
    }
  },
  "model": {
    "model_path": "./matchzoo/models/",
    "model_py": "drmm.DRMM",
    "setting": {
        "num_layers": 2,
        "hidden_sizes": [20, 1],
	    "dropout_rate": 0.0
    }
  },
  "losses": [ 
    {
       "object_name": "rank_hinge_loss" ,
       "object_params": {
            "margin": 1.0
       }
    }
  ],
  "metrics": [ "precision@10", "precision@30", "map" ]
}

