{
  "net_name": "DRMM",
  "global":{
      "model_type": "PY",
      "weights_file": "examples/robust04/weights/drmm.robust04.weights",
      "save_weights_iters": 50,
      "num_iters": 2001,
      "display_interval": 20,
      "test_weights_iters": 1000,
      "optimizer": "adam",
      "learning_rate": 0.01
  },
  "inputs": {
    "share": {
        "text1_corpus": "./data/robust04/corpus_preprocessed.txt",
        "text2_corpus": "./data/robust04/corpus_preprocessed.txt",
        "use_dpool": false,
        "embed_size": 300,
        "embed_path": "./data/robust04/embed_glove_d300_norm",
        "vocab_size": 354582,
        "train_embed": false,
        "target_mode": "ranking",
        "hist_size": 20,
        "text1_maxlen": 10,
        "text2_maxlen": 500
    },
    "train": {
        "input_type": "DRMM_PairGenerator", 
        "phase": "TRAIN",
        "use_iter": false,
        "query_per_iter": 50,
        "batch_per_iter": 10,
        "batch_size": 128,
        "relation_file": "./data/robust04/relation_train.txt",
        "hist_feats_file": "./data/robust04/relation_train.hist-20.txt"
    },
    "valid": {
        "input_type": "DRMM_ListGenerator", 
        "phase": "EVAL",
        "batch_list": 10,
        "relation_file": "./data/robust04/relation_valid.txt",
        "hist_feats_file": "./data/robust04/relation_valid.hist-20.txt"
    },
    "test": {
        "input_type": "DRMM_ListGenerator", 
        "phase": "EVAL",
        "batch_list": 10,
        "relation_file": "./data/robust04/relation_test.txt",
        "hist_feats_file": "./data/robust04/relation_test.hist-20.txt"
    },
    "predict": {
        "input_type": "DRMM_ListGenerator", 
        "phase": "PREDICT",
        "batch_list": 10,
        "relation_file": "./data/robust04/relation_test.txt",
        "hist_feats_file": "./data/robust04/relation_test.hist-20.txt"
    }
  },
  "outputs": {
    "predict": {
      "save_format": "TREC",
      "save_path": "./data/robust04/predict.test.drmm.txt"
    }
  },
  "model": {
    "model_path": "./matchzoo/models/",
    "model_py": "drmm.DRMM",
    "setting": {
        "num_layers": 3,
        "hidden_sizes": [30, 10, 1],
	    "dropout_rate": 0
    }
  },
  "losses": [ 
    {
       "object_name": "rank_hinge_loss" ,
       "object_params": {
            "margin": 1.0
       }
    }
  ],
  "metrics": [ "precision@10", "precision@30", "map" ]
}

